:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --gray-500: hsl(186, 15%, 59%);
    --gray-900: hsl(187, 24%, 22%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", serif;
}

html {
    font-size: 62.5%;
    min-height: 100%;
}

body {
    height: 100vh;
    background-color: var(--green-200);
    padding: 3rem 2rem;
}

.container {
    background-color: white;
    max-width: 768px;
    padding: 2rem;
    margin: auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form_heading {
    color: var(--gray-900);
    font-size: 3rem;
}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .label {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 0.8rem;
        width: 100%;
        font-size: 1.6rem;
        color: var(--gray-900);
        .important_field {
            width: max-content;
            position: relative;
            &::after {
                content: '*';
                position: absolute;
                top: 0;
                font-size: 1.6rem;
                right: -1.6rem;
                color: var(--green-600);
            }
        }

        .input {
            height: 4rem;
            padding-left: 1.25rem;
            border: 1px solid var(--gray-900);
            border-radius: 0.5rem;
            font-size: 1.6rem;

            &.error {
                border-color: var(--red);
            }
        }

        .textarea {
            padding: 1.25rem;
            height: 14rem;
            border-radius: 0.5rem;
        }

        .radio_input {
            height: 4rem;
            padding-left: 1.25rem;
            border: 1px solid var(--gray-900);
            border-radius: 0.5rem;
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        &.consent {
            flex-direction: row;
            align-items: center;
            width: calc(50% + 5rem);

            .input {
                background-color: var(--green-600) !important;
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 0 !important;
                &:hover {
                    cursor: pointer;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }

        .query_type {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            gap: 1rem;

            & .radio_input {
                width: 100%;

                @media (min-width: 500px) {
                    width: calc((100% - 1rem)/2);
                }
                &:hover {
                    cursor: pointer;
                }
            }

            &:target {
                outline-color: var(--green-600) !important;
            }
          
        }
    }

    .submit_btn {
        padding: 1.05rem;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--green-600);
        color: white;
        &:hover {
            cursor: pointer;
        }     
    }
}

.full_name {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .label {
        width: 100%;
        @media (min-width: 768px) {
            width: calc((100% - 1rem) / 2);
        }
    }

    @media (min-width: 768px) {
        gap: 1rem;
    }
}

.error-message {
    position: absolute;
    bottom: -1.75rem;
    font-size: 1.4rem;
    left: 0;
    width: 100%;
    color: var(--red);
}